/*
Colors used:
Primary Color (Green): #26413c;
Secondary Color (Purple): #805D93;
Tertiary color (Light blue): #44c0c5
*/

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 10px 0;
  border-bottom: 3px solid #44c0c5;
  position: fixed;
  width: 100%;
  background-color:#f7f7f7
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
}

.hero {
  padding: 140px 0 40px 0;
  display: inline-block;
  width: 100%;
  text-align:center;
}

.hero h1 {
  text-align: center;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 150px;
}

.icon {
  max-width: 32px;
  display: inline-block;
}

body {
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400; 
    line-height: 1.6; 
    color: #000000;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
    color:  #26413c
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 700;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 700;
  }

  img {
    width: 100%;
  }

  a {
    color: #805D93;
    text-decoration: none;
    font-weight: 700;
  }
  a:hover,
  a:focus {
    color: #805D93; opacity:0.8;
    text-decoration: underline; 
    transition: 0.2s opacity;
  }
  a:visited { /* visited link */
    color: #805D93;
  }
  a:active { /* selected link */
    color: #805D93; opacity:0.8;
  }

  .button {
    display: inline-block; 
    background-color: #805D93;
    color: #ffffff !important;
    font-weight: 700;
    padding: 10px;
    border-radius: 100px;
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; 
    text-decoration: none;
  }

  .button.resume {
    display: inline-block; 
    background-color: #44c0c5;
    color: #ffffff !important;
    font-weight: 700;
    padding: 10px;
    border-radius: 100px;
    transition: 0.2s opacity;
  }
  .button.resume:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  footer {
    background-color: #d1d1d1;
    text-align: center;
    border-top: 3px solid #44c0c5;
    padding: 10px 0;
  }

  footer > div > div > ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer > div > div > ul > li {
    display: inline-block;
    margin: 0 auto;
    max-width:32px;
  }

  #expert > div > div > div > ul {
    list-style-type: none;
    padding: 0;
  }
  
  #expert > div > div > div > ul > li {
    display: inline-block;
    margin: 0 auto;
  }

  #expert > div > div > div > div > ul {
    list-style-type: none;
    padding: 0;
  }
  
  #expert > div > div > div > div > ul > li {
    display: inline-block;
    margin: 0 auto;
  }

  .project.details {
    display: inline-block; 
    background-color: #d1d1d1;
    padding: 0px 12px;
    margin: 4px 4px;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #about h3 { margin-top: 0;}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.67%;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}